* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

section {
  padding: 40px 0;
}

p {
  color: #2d334a;
}

body {
  background-color: #fffffe;
}

/* Typography Styles */
.secondary {
  color: #e3f6f5;
}

.headline {
  color: #272343;
}

/* Button style */
.button {
  color: #272343;
  background-color: #ffd803;
  padding: 6px 12px;
  border: none;
  transition: opacity ease 0.25s;
  cursor: pointer;
}

.button-outlined {
  border: 1px solid #272343;
  background-color: #fffffe;
}

.button:hover {
  opacity: 0.6;
}

/* Nav link */
.nav-link {
  transition: opacity ease 0.25s;
}

.nav-link:hover {
  opacity: 0.6;
}

.tab-content{
  max-width: 500px;
  margin: auto;
}

.form-message{
  color: #d10000;
}