* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

section {
  margin-top: 18px;
}

p {
  color: #2d334a;
}

body {
  background-color: #fffffe;
}

.box-shadow{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Typography Styles */
.secondary {
  color: #e3f6f5;
}

.headline {
  color: #272343;
}

/* Nav link */
.nav-link {
  transition: opacity ease 0.25s;
}

.nav-link:hover {
  opacity: 0.6;
}

.tab-content {
  max-width: 500px;
  margin: auto;
}

/* Post style */
.posts{
  margin-bottom: 18px;
}

.post-item {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 600px;
  width: 100%;
}

.post-title,
.post-author {
  text-transform: capitalize;
}

.heart-reaction {
  cursor: pointer;
}

/* message style */
.message {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.message.fade {
  opacity: 0;
}

.message.success {
  color: green;
}

.message.error {
  color: red;
}
